html {
    direction: rtl;
}

.admin-body .side-bar ul li a {
    float: right;
}
.side-bar{
    padding: 0;
}

table th,
table td,
label {
    text-align: right;
}

.parent-ul {
    padding: 0;
    direction: ltr;
    text-align: right;
}
.responsive_control {
}

.responsive_control li a {
    float: right;
}

.list-group{

    padding-right: 10px;
}
.list-group-item {
    direction: rtl;
}
.card {
    margin-right: 0;
    margin-left: 13px;
}


.show ul li{
    display: flex;
}
