

    <div class="messages">
        <div class="messages__left">
                <div class="chat-rect">
                    <img src="img/messages-prof-pic.png" alt="picture" class="chat-rect-img">
                    <div class="message-info">
                        <h1 class="message-info__person">Mostafa Saad</h1>
                        <p class="message-info__text">Lorem ipsum dolor sit amet. Lorem ipsum dolor ...</p>
                    </div>
                </div>

        </div>
        <div class="messages__right">
            <p class="message-rect-sender">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eligendi ratione ullam quibusdam exercitationem illo ex neque totam incidunt eius.</p>
            <p class="message-rect-reciever">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eligendi ratione ullam quibusdam exercitationem illo ex neque totam incidunt eius.</p>
            <p class="message-rect-sender">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eligendi ratione ullam quibusdam exercitationem illo ex neque totam incidunt eius.</p>
            <p class="message-rect-reciever">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eligendi ratione ullam quibusdam exercitationem illo ex neque totam incidunt eius.</p>
            <p class="message-rect-sender">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eligendi ratione ullam quibusdam exercitationem illo ex neque totam incidunt eius.</p>
            <form action="#">
                <input type="text" name="message-content" id="message-content" placeholder="Type your message here...">
                <button type="submit" class="message-sbt">send</button>
            </form>
        </div>
    </div>

